# Data sources
PPR_SOURCE_URL=
CSO_SOURCE_URL=
PLANNING_SOURCE_URL=

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=irish_property_market
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# Google Cloud / BigQuery
GOOGLE_CLOUD_PROJECT=
BIGQUERY_DATASET=
