# Data sources
PPR_SOURCE_URL=
CSO_SOURCE_URL=
PLANNING_SOURCE_URL=

# PostgreSQL
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Google Cloud / BigQuery
GOOGLE_CLOUD_PROJECT=
BIGQUERY_DATASET=